[splash2 fft]
REPEATS = 10
SPLASH2_NTHREADS = 8
INPUTS = -m20 -p%(SPLASH2_NTHREADS)s
DBUG = 1
DBUG_ARBITER_PORT = 13002
DBUG_EXPLORER_PORT = 13003
DBUG_TIMEOUT = 60
dync_geteip = 0
log_sync = 0

[splash2 lu_cb]
REPEATS = 10
SPLASH2_NTHREADS = 8
INPUTS = -p%(SPLASH2_NTHREADS)s -n512 -b16
DBUG_ARBITER_PORT = 13006
DBUG_EXPLORER_PORT = 13007
DBUG_TIMEOUT = 60
dync_geteip = 0
log_sync = 0

[splash2 lu_ncb]
REPEATS = 10
SPLASH2_NTHREADS = 8
INPUTS = -p%(SPLASH2_NTHREADS)s -n512 -b16
DBUG = 2
DBUG_ARBITER_PORT = 13008
DBUG_EXPLORER_PORT = 13009
DBUG_TIMEOUT = 60
dync_geteip = 0
log_sync = 0

[splash2 ocean_cp]
REPEATS = 10
SPLASH2_NTHREADS = 8
INPUTS = -n514 -p%(SPLASH2_NTHREADS)s -e1e-07 -r20000 -t28800
DBUG_ARBITER_PORT = 13010
DBUG_EXPLORER_PORT = 13011
DBUG_TIMEOUT = 60
dync_geteip = 0
log_sync = 0

[splash2 ocean_ncp]
REPEATS = 10
SPLASH2_NTHREADS = 8
INPUTS = -n514 -p%(SPLASH2_NTHREADS)s -e1e-07 -r20000 -t28800
DBUG = 3
DBUG_ARBITER_PORT = 13012
DBUG_EXPLORER_PORT = 13013
DBUG_TIMEOUT = 60
dync_geteip = 0
log_sync = 0

[splash2 radix]
REPEATS = 10
SPLASH2_NTHREADS = 8
INPUTS = -p%(SPLASH2_NTHREADS)s -r4096 -n4194304 -m2147483647
DBUG_ARBITER_PORT = 13016
DBUG_EXPLORER_PORT = 13017
DBUG_TIMEOUT = 60
dync_geteip = 0
log_sync = 0

; patched
[splash2 volrend]
REPEATS = 10
SPLASH2_NTHREADS = 8
TARBALL = parsec-3.0/ext/splash2x/apps/volrend/inputs/input_simsmall.tar
INPUTS = %(SPLASH2_NTHREADS)s head-scaleddown4 20
DBUG_ARBITER_PORT = 13020
DBUG_EXPLORER_PORT = 13021
DBUG_TIMEOUT = 60
dync_geteip = 0
log_sync = 0

